* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.10);
}

.outer-container {
  text-align: center;
}

.main-banner {
  position: fixed;
  top: 0;
  left: 0;
  height: 72px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 8px 16px;
  border-bottom: 1px solid #f5f5f5;
}

.nav-bar-brand h1 {
  margin: 0;
  padding: 0 0 5px 0;
}

.nav-bar-brand,
.nav-bar-brand :visited {
  text-decoration: none;
  color: #B10074;
}

.nav-bar-brand :hover,
.nav-bar-brand :active {
  color: #f5637c;
}

.nav-bar-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-bar-menu-item {
  max-width: fit-content;
}

.nav-bar-menu-item a:link, 
.nav-bar-menu-item a:visited {
  color: black;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.nav-bar-menu-item a:hover, 
.nav-bar-menu-item a:active {
  background: linear-gradient(45deg, #f5637c, #b63aa8);
}
